.header {
    margin: 16px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid green;
}

.header i {
    font-size: 1.5rem;
    color: black;
}

.headerDetails {
    font-size: 1rem;
}

.ataList {
    display: flex;
    flex-wrap: wrap;
}

.ata {
    margin: 4px;
    padding: 4px 8px;
    background-color: green;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.selectedAta {
    background-color: red;
}