.table {
  border-collapse: collapse;
  border-spacing: 3px;
  width: 95%;
  display: table;
}

.table td,
.table th {
  /* display: inline-block;
  width: 100%; */
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid grey;
}
.table th {
  font-weight: bold;
}

.active {
  border-bottom: 0;
  background-color: antiquewhite;

}
.center {
  text-align: center;
  margin: 0 auto;
}
.noBorder {
  border-bottom: 0;
}

.table th:first-child,
.table td:first-child {
  padding-left: 16px;
}

.right {
  /* display: inline; */
  text-align: right;
  float: right;
}

.details {
  background-color: antiquewhite;

}

.panel {
  /* padding: 0 18px; */
  /* display: none; */
  background-color: #eeffee;
  border-radius: 10px;
  overflow: auto;
  /* margin: 0px 10px 5px 10px; */
}
