.table {
    border-collapse: collapse;
    border-spacing: 3px;
    width: 95%;
    display: table;
}

.table td,
.table th {
    /* display: inline-block;
    width: 100%; */
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    /* border: 1px solid grey; */
}
.table th {
    font-weight: bold;
}

.active {
    border-bottom: 0;
    background-color: antiquewhite;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.noBorder {
    border-bottom: 0;
}

.table th:first-child,
.table td:first-child {
    padding-left: 16px;
}

.right {
    /* display: inline; */
    text-align: right;
}

.details {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* width: 200px; */
}

.item {
    font-size: 0.9rem;
    background-color: beige;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 13rem;
    min-height: 10rem;
    height: max-content;
}

.item > div {
    padding: 3px 0;
    text-align: center;
}

.item > div:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 800;
}
.item > div:nth-of-type(2) {
    font-weight: 500;
}
/* .item > div:nth-of-type(3) {
    color: blue;
} */
.item > div:nth-of-type(4) {
    font-size: 1rem;
    font-weight: 800;
}

.item > div > i {
    padding: 0 8px;
    font-size: 0.8rem;
    color: darkblue;
}
.item .dates {
    padding: 16px 0;
}
