
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 0;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.title h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}


.question {
    padding: 1rem;
    border: 1px dashed grey;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem 0;
}
.question p:nth-of-type(1) {
    font-weight: 500;
}

.answer {
    padding-left: 1rem;
}

.question p:nth-of-type(5),
.question p:nth-of-type(6) {
    text-align: right;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: top;
    
}
/* .general {
    background-color: bisque;
}
.stats {
    background-color: pink;
} */
.comments {
    padding-top: 3px;
    border-top: 1px solid grey;
    margin: 10px;
}
.comments .author {
    font-weight: bold;
}
.comments .single {
    /* background-color: aquamarine; */
    padding: 3px 10px;
}

.comments form {
    margin-top: 10px;
}

.textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

/* .question > p {
    line-height: 1.5rem;
} */

.table {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
}
.table td,
.table tr {
    padding: 3px;
}
.table td {
    width: auto;
}

.correct {
    color: red;
    font-weight: 500;
}
.deleteBtn {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    color: red;
    font-weight: bold;
    
    cursor: pointer;
}

.history {
    /* border: 1px solid black; */
    /* padding: 10px; */
    line-height: 1.5rem;

}
.history .table {
    padding: 5px;
    min-height: 5.1rem;
}

.create {
    color: white;
    background-color: green;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;

}

