.ataInput {
    /* width: 5rem; */
    border: 1px solid grey;
    /* padding: 8px 4px; */
    text-align: center;
    border-radius: 4px;
    height: 3px;
}

.ataInput::-webkit-outer-spin-button,
.ataInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.ataInput[type=number] {
  -moz-appearance: textfield;
}



.l1 {
    background-color: #BCE29E;
}

.l2 {
    background-color: #E5EBB2;
}

.l3 {
    background-color: #F8C4B4;
}

.zero {
    background-color: #C3DBD9;
}

.availableQuestions {
    text-align: center;
    padding-left: 4px;
    color: lightgrey;
}

