.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #111827;
    color: white;
    padding-top: 5px;
    /* top: 0; */
}
.title {
    font-size: 1.5rem;
    float: right;
    padding: 4px 16px;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.rates {
    font-size: 1.1rem;
    justify-self: end;
    padding: 0 10px;
}

.flag {
    padding-right: 8px;
    aspect-ratio: initial;
    height: 1rem;
}