

.pr-footer {
    position: absolute;
    bottom: 0;
    display: block;
    max-width: 100%;
    width: 100%;
    padding-right: 200px;
}

.main {
    margin: 3rem auto;
    position: fixed;
    margin-left: 12rem;
    /* width: 100%; */
    margin-right: 10px;
    min-height: calc(95vh - 8rem);
}

.card {
    width: 100%;
    background-color: #fff;
    border: 3px solid red;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #ccc;
  }
  
  .users-container {
    width: 100%;
  }
