.avatar {
    
        float: left;
        width: 100%;
        width: 33.33333%;
        text-align: center;
}

.face {
    border-radius: 50%;
    margin-right: 16px;
    width: 46px;
    border: 1px solid white;
    margin-bottom: 4px;
}
.role {
    margin-top: 20px;
}