.user-menu-btn {
    /* background-color: red; */
    padding: 16px 10px 4px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}



