.container {
    text-align: center;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.userMenuBtn {
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 0.75rem;

    text-decoration: none;

    border: 1px solid white;
    border-radius: 5px;
}

.userMenuBtn:visited {
    color: white;
}
