.pr-sidebar {
    z-index: 3;
    
}

.sidebar {
    height: 100%;
    width: 12rem;
    margin-top: 2rem;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}
