.sidebar {
    z-index: 3;
    height: calc(100vh - 5rem);
    width: 12rem;
    margin-top: 2rem;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    overflow: auto;
    color: #fff;
    background-color: #000;
}
