.sidebar {
    z-index: 3;
    height: 100%;
    width: 12rem;
    margin-top: 0;
    background-color: #fff;
    /* position: fixed; */
    z-index: 1;
    overflow-x: hidden;
    color: #fff;
    background-color: #111827;
}
