.footer {
    position: fixed;
    size: 1.5rem;
    color: white;
    text-align: center;
    background-color: #111827;
    min-height: 4rem;
    /* bottom: 4rem; */
    /* padding-top: 4px; */
    width: calc(100% + 12rem);
}