.detBtns {
    display: inline-flex;
    /* width: 8rem; */
    /* background-color: red; */
}

.icon {
    margin: 0 5px;
    font-size: 1rem;
    padding: 0;
    background-color: transparent;
    padding: 8px 10px;
}