.table {
    border-collapse: collapse;
    border-spacing: 3px;
    width: 95%;
    display: table;
}

.table td,
.table th {
    /* display: inline-block;
    width: 100%; */
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    /* border: 1px solid grey; */
}
.table th {
    font-weight: bold;
}

.active {
    border-bottom: 0;
    background-color: antiquewhite;

}
.center {
    text-align: center;
    margin: 0 auto;
}
.noBorder {
    border-bottom: 0;
}

.table th:first-child,
.table td:first-child {
    padding-left: 16px;
}

.right {
    /* display: inline; */
    text-align: right;
}

.details {
    background-color: antiquewhite;

}

