.container {
    width: calc(100vw - 1.1rem);
    /* height: 100vh; */
    min-height: 100vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 50px 1fr 25px;
    gap: 2px;

    background-color: #f1f5f9;
    border: 2px solid #adadad;
    border-radius: 10px;
}
.gridHeader {
    grid-column: 1 / 3;
    background-color: red;
}

.gridNavbar {
    grid-row: 2 / 4;
    grid-column: 1;
}
.gridMain {
    grid-row: 2 / 4;
}
.gridFooter {
    grid-row: 4;
    grid-column: 1 / 3;

    background-color: blue;
}

